@font-face {
  font-family: 'Acne Studios Circle Book';
  src: url('fonts/acne-studios-circle-book.otf') format('opentype');
}

#app{
  font-family: 'Acne Studios Circle Book', sans-serif;
}
.offline{ 
  color: rgb(249, 162, 176);
}

#theList {  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
  font-size: 1.5rem;
  min-width: 100%;
  padding: 50px;
}

#theList li {
  display: block; 
  width: 100%; 
  margin: 5px 0; 
}

#headerAndButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#headerAndButton h1{
  color: rgb(149, 149, 149);
  text-decoration:underline;
  width: 100%;
  margin-top: 60px;
  font-size: 4rem;
  text-align: center;
}

#headerAndButton button {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  width: 250px;
  border-radius: 0;
}
#headerAndButton button:hover{
  background-color: pink;
}


#buttonContainer button{
  margin-top: 20px;
  padding: 10px;
  width: 10%;
  border: 1px solid;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;

}

#buttonContainer button:hover, #buttonContainer button.hover-active{
  background-color: white;
  border-bottom:none;
}
  #item-display div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;


  }