.offline{ 
  color: red;
}

#theList {  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
  font-size: 1.5rem;
  width: 100%;
  padding: 50px;
}

#theList li {
  display: block; 
  width: 100%; 
  margin: 5px 0; 
}

#headerAndButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

h1{
  width: 100%;
  margin-top: 60px;
  font-size: 4rem;
  text-align: center;
}

button  {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  width: 250px;
}

}
